.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 824px;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
}

.inputWrapper {
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: none; /* Removed border */
  background-color: #eff2fb; /* Light blue background */
  box-sizing: border-box;
  outline: none; /* Remove focus outline */
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: none; /* Removed border */
  background-color: #eff2fb; /* Light blue background */
  box-sizing: border-box;
  outline: none; /* Remove focus outline */
}

.buttons {
  display: flex;
  justify-content: space-between; /* Push buttons to opposite ends */
  width: 100%; /* Ensures the div takes full width */
  padding: 16px 16px;
}

.outlinedButtonB {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 192px; /* 48 * 4 */
  background-color: white;
  border: 2px solid #007bff; /* Match the outline color */
  color: #007bff;
  padding: 8px 16px;
  border-radius: 9999px; /* Full rounded */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.outlinedButton {
  display: flex;
  width: 166px;
  height: 48px;
  top: 623px;
  left: 35px;
  padding: 12px 16px 12px 16px;
  gap: 10px;
  border-radius: 24px 24px 24px 24px;
  opacity: 0px;
  border: 1px solid #2e4d90;
}

.outlinedButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon {
  width: 15px;
  height: 15px;
  background-image: url("../../public/plus.svg"); /* Adjust the path */
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 6px;
  margin-right: 4px;
  position: relative;
  top: 4.5px;
}

.buttonText {
  font-size: 16px;
}

.submitButton {
  /* width: 100%;
  margin-top: 20px; */
  width: 161px;
  height: 48px;
  top: 623px;
  left: 628px;
  padding: 10px 17px 10px 17px;
  gap: 10px;
  border-radius: 24px 24px 24px 24px;
  opacity: 0px;
  background: #2E4D90;
  color: #fff;
}

.error {
  color: #d9534f;
  font-size: 14px;
}

.errorMessage {
  color: #d9534f;
  font-size: 16px;
  font-weight: bold;
}

.closeButton {
  top: 10px;
  left: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: #555;
  cursor: pointer;
}

.closeButton:hover {
  color: #d9534f;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between profile image and name */
}

.profilePictureWrapper {
  margin: 10px;
  display: left;
  justify-content: center;
}

.profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.userName {
  font-weight: bold;
  font-size: 20px;
}

.imagePreviewContainer {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  margin-top: 12px;
}

.imagePreviewWrapper {
  flex: 0 0 auto;
  /* border-radius: 8px; */
  overflow: hidden;
}

.removeImageButton {
  /* position: absolute; */
  top: 5px;
  right: 5px;
  color: white;
  border: none;
  border-radius: 50%;


  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 35px;
  height: 35px;
  top: 419px;
  left: 529px;
  gap: 0px;
  opacity: 0px;
  background: #2E4D90;


}

.removeImageButton:hover {
  background: rgba(0, 0, 0, 0.8);
}

.imagePreview {
  width: 243px;
  height: 157px;
  top: 436px;
  left: 35px;
  gap: 0px;
  /* border-radius: 5px 5px 5px 5px; */
  opacity: 0px;
}
