<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLpymEXdxuTadk9aSQMTYoXxpaWVvWPVc</string>
	<key>GCM_SENDER_ID</key>
	<string>371825710696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryanl123.cfd</string>
	<key>PROJECT_ID</key>
	<string>center-for-dreams</string>
	<key>STORAGE_BUCKET</key>
	<string>center-for-dreams.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371825710696:ios:85c014326af8f0bbb18ddd</string>
</dict>
</plist>